@use "./variables" as *;

@mixin icon($id, $color: black, $size: 32px) {
  width: $size;
  height: $size;
  -webkit-mask-image: url('../icons/icons.svg#{"#"}#{$id}');
  mask-image: url('../icons/icons.svg#{"#"}#{$id}');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: $color;
}

